@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
}
@keyframes slowspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slowspin {
  animation: slowspin 10s linear infinite;
}

@keyframes glow-green {
  0% {
    box-shadow: 0 0 10px 2px rgba(34,197,94,0.6);
    background-color: rgba(34,197,94,0.1);
  }
  100% {
    box-shadow: none;
    background-color: transparent;
  }
}

@keyframes glow-red {
  0% {
    box-shadow: 0 0 10px 2px rgba(239,68,68,0.6);
    background-color: rgba(239,68,68,0.1);
  }
  100% {
    box-shadow: none;
    background-color: transparent;
  }
}

.glow-green {
  animation: glow-green 2s ease-in-out;
}

.glow-red {
  animation: glow-red 2s ease-in-out;
}

@keyframes price-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.animate-price-pop {
  animation: price-pop 2s ease-out;
}
.blurred {
  filter: blur(6px);
  pointer-events: none; /* Disable clicking on dashboard */
  user-select: none;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  color: white;
  font-size: 1.2rem;
  pointer-events: auto; /* Only overlay is clickable */
}
